@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,400;1,600&display=swap');

:root {
	--cursor-pointer: url("https://drive.google.com/uc?export=view&id=18HpGAlfdV8xwxMe40e8gxcvsaeLHsv2t");
	--cursor-hand: url("https://drive.google.com/uc?export=view&id=1LaTqCLQGTbEpUD--Pz0OAGxsW6Ei3h9Z");
	--cursor-text: url("https://drive.google.com/uc?export=view&id=1K_J8DquKrh3hd_f0RTACplEQ95VNm6Vl");
}

body {
	background-color:#181818;
	transform:scale(100vw,100vh);
	margin: 0;
	padding: 0;
}
body[data-ease="true"] {
	transition: opacity 1250ms ease;
	cursor: var(--cursor-pointer), default
}
body[data-ease="false"] {
	transition: opacity 750ms ease;
	cursor: none !important
}
.content {
	position: fixed;
	color: #fff;
	display: block;
	font-family: 'Rubik';
	font-size: clamp(1rem, 1.75vw, 4rem);
	padding: clamp(0.25rem, 1vw, 2rem);
	text-decoration:none;
	z-index: 4;
	height: 96vh;
	width: auto;
	overflow-y: scroll;
	transition: opacity 400ms ease
}

#menu {
	align-items:center;
	display:flex;
	height:100vh;
	width:100vw
}
#menu-items {
	z-index:2
}
#menu[data-active-index="5"] > #menu-background-pattern {
	background-position:0 75%
}
#menu[data-active-index="4"] > #menu-background-pattern {
	background-position:0 40%
}
#menu[data-active-index="3"] > #menu-background-pattern {
	background-position:0 5%
}
#menu[data-active-index="2"] > #menu-background-pattern {
	background-position:0 -30%
}
#menu[data-active-index="1"] > #menu-background-pattern {
	background-position:0 -65%
}
#menu[data-active-index="0"] > #menu-background-pattern {
	background-position:0 -100%
}
#menu[data-active-index="5"] > #menu-background-image {
	background-position:center 35%
}
#menu[data-active-index="4"] > #menu-background-image {
	background-position:center 40%
}
#menu[data-active-index="3"] > #menu-background-image {
	background-position:center 45%
}
#menu[data-active-index="2"] > #menu-background-image {
	background-position:center 50%
}
#menu[data-active-index="1"] > #menu-background-image {
	background-position:center 55%
}
#menu[data-active-index="0"] > #menu-background-image {
	background-position:center 60%
}
#menu-background-pattern {
	background-image:-webkit-radial-gradient(rgba(255,255,255,0.1) 9%,transparent 9%);
	background-image:-moz-radial-gradient(rgba(255,255,255,0.1) 9%,transparent 9%);
	background-image:radial-gradient(rgba(255,255,255,0.1) 9%,transparent 9%);
	background-position:0 0;
	background-size:15vmin 15vmin;
	height:100vh;
	left:0;
	position:absolute;
	top:0;
	transition:opacity 400ms ease, background-size 400ms ease,background-position 400ms ease;
	width:100vw;
	z-index:1
}
#menu-background-image {
	background-image:url(https://images.unsplash.com/photo-1492496913980-501348b61469);
	background-position:center 40%;
	background-size:110vmax;
	height:100vh;
	opacity:.15;
	position:absolute;
	top:0;
	left:0;
	transition: opacity 300ms ease, background-size 300ms ease, background-position 300ms ease;
	width:100vw;
	z-index:0
}
#menu-items:has(.menu-item:hover) ~ #menu-background-pattern {
	background-size: 18vmin 18vmin;
	opacity: .5
}
#menu-items:has(.menu-item:hover) ~ #menu-background-image {
	background-size:100vmax;
	opacity: .1
}
#menu-items:has(:not(div):hover) .menu-item:not(:hover) {
	opacity: .3
}
#menu-items:has([data-locked="true"]:not(:hover)) .menu-item[data-locked="false"]:not(:hover) {
	opacity: .3
}
#menu-items:not(:hover) .menu-item[data-locked="true"] {
	opacity: 1
}
.menu-item {
	color: #fff;
	cursor: var(--cursor-hand), default;
	display: inline-block;
	font-family: 'Rubik';
	text-decoration: none;
	transition: opacity 400ms ease;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
a {
	color: rgba(128, 128, 128, 0.75);
}

a:visited {
	color: rgba(128, 128, 128, 0.75);
}

a:hover {
	color: rgba(128, 128, 128, 0.95);
	cursor: var(--cursor-hand), default;
}

a:visited:hover {
	color: rgba(128, 128, 128, 0.95);
	cursor: var(--cursor-hand), default;
}

::-moz-selection {
	color: white;
	background-color: rgba(48, 92, 255, 0.75);
}

::selection {
	color: white;
	background-color: rgba(48, 92, 255, 0.75);
}

br {
	line-height: 7px
}
br {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
span {
	cursor: var(--cursor-text), default
}
div,input,textarea,button,select,a {
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
#footer {
	position: fixed;
	font-family: 'Rubik';
    color: #fff;
    text-align: center;
	z-index: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

@media (min-width:800px) {
	.content {
		top: 0vh;
		left: 25vw
	}
	#meni-items {
		margin-left: clamp(2rem, 4vw, 20rem);
		position: relative
	}
	.menu-item {
		font-size: clamp(2rem, 3.5vw, 8rem);
		padding: clamp(0.1rem, 1vw, 2rem)
	}
	#footer {
		font-size: 1.35rem;
		padding: 1rem;
		top: 92vh;
	}
	.content::-webkit-scrollbar {
		width: 25px
	}
	.content::-webkit-scrollbar-track {
		background-color: transparent
	}
	.content::-webkit-scrollbar-thumb {
		background-color: rgba(132, 132, 132, 0.85);
		border-radius: 20px;
		border: 6px solid transparent;
		background-clip: content-box
	}
	.content::-webkit-scrollbar-thumb:hover {
		background-color: rgba(108, 108, 108, 1)
	}
}
@media (max-width:800px) {
	.content {
		top: 25vh;
		left: 7vw;
		padding: clamp(0.1rem, 0.25vw, 1rem)
	}
	#menu-items {
		position: fixed;
		top: 1.5vh;
		left: 3vh
	}
	.menu-item {
		font-size: clamp(1rem, 2.75vw, 8rem);
		padding: clamp(0.1rem, 0.25vw, 1rem)
	}
	#footer {
		font-size: 0.5rem;
		padding: 0.5rem;
		top: 96vh;
	}
}